header {
	height: 60px;
	z-index: 2;
	background-color: #060a0c;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	
		/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
header h1 {
	color: #FFF;
	text-align: left;
	font-size: 27px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 60px;
	margin-top: 0px;
}

section {
	margin-top: 80px;
}

nav {
	position: fixed;
}
nav li {
	display: block;
}
nav li a {

	color: #9aa6af;
	display: block;
}
nav li a:hover {color: #000;}

.burger {
	display : none;
}

@media (max-width: 767px) {

	.burger {
		position: absolute;
		float: left;
		padding: 10px;
		top: 4px;
		left: 10px;
		display: block;

	}
	.burger li {
		width: 30px;
		height: 4px;
		background-color: #fff;
		border-radius: 3px;
		margin: 5px 0;
	}

	.burger.opened li {background-color: #d9dde1;}
}

